
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
}

ol, ul {
    list-style: none;
}

/* Make HTML 5 elements display block-level for consistent styling */
header, nav, article, footer, address {
    display: block;
}

/*End Reset*/
/*Global*/
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

h5 {
    font-weight: bold;
}

body {
}

#contentWrapper {
    width: 997px;
    margin: 0 auto 20px auto;
    font-family: Calibri, Helvetica, Arial, Sans-Serif;
    position: relative;
}


h1 {
    font-size: 24px;
    line-height: 2px;
}

h2 {
    font-size: 22px;
    line-height: 22px;
}

h3 {
    font-size: 18px;
    line-height: 16px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    margin-right: 10px;
}

p {
    margin: 10px 0;
    line-height: 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

header {
    height: 55px;
    padding: 10px;
}

    header h1 {
        font-size: 28px;
        line-height: 32px;
    }

    header h2 {
    }

nav#mainNav {
    width: 997px;
    height: 20px;
    padding: 10px 0;
}

    nav#mainNav ul {
    }

    nav#mainNav li {
        display: inlilne;
        display: inline-block;
        margin: 0 10px;
    }

.ThemerWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}

    .ThemerWrapper ul {
        display: none;
    }

    .ThemerWrapper li {
        padding: 5px;
        border: 1px solid #000;
    }

    .ThemerWrapper a {
        background: url(images/arrow-down.gif) 3px center no-repeat;
        padding: 0 12px 5px 17px;
        border: 1px solid #000;
    }

        .ThemerWrapper a.active {
            background-image: url(images/arrow-up.gif);
        }

#content {
    padding: 10px;
    position: relative;
    width: 977px;
}

    #content #interiorContent { /*float:left; */
        width: 690px;
        margin-right: 10px;
        padding-right: 10px;
    }

    #content #sideBar { /*float:left; */
        position: absolute;
        top: 0;
        right: 0;
        width: 280px;
        margin: 0;
        height: 100%;
    }

footer {
    height: 20px;
    padding: 10px 0;
    clear: both;
}

    footer ul {
    }

        footer ul li {
            list-type: none;
            display: inline-block;
            margin: 0 10px;
        }

/*      HOME PAGE       */
#homePageRotator {
    height: 250px;
    width: 600px;
    margin: 20px auto;
    overflow: hidden;
}

#homePageContent {
    margin: 10px auto;
    width: 915px;
}

    #homePageContent .homepageColumn {
        width: 250px;
        margin: 0 15px;
        padding: 10px;
        display: inline-block;
        min-height: 250px;
        vertical-align: top;
    }

    #homePageContent .wide {
        width: 555px;
    }

    #homePageContent .homepageColumn h2, #homePageContent .homepageColumn p {
        margin-bottom: 15px;
    }

    #homePageContent .homepageColumn .socialIcons a {
        display: block;
        margin: 5px 10px;
        float: left;
        height: 70px;
        width: 60px;
    }

.socialIcons a:active img {
    padding-top: 5px;
}

/*#homePageContent #tidyTweetFeed {height:250px; overflow-y:scroll; overflow-x:hidden;}*/
#mycarousel li {
    height: 250px;
    width: 600px;
}
/*Resume Page*/
#resumePage ul {
    list-style-type: disc;
    margin: 10px 30px;
}

    #resumePage ul li {
        margin: 5px 0;
    }

    #resumePage ul ul {
        list-style-type: circle;
        margin: 5px 15px;
    }

        #resumePage ul ul li {
            margin: 5px 0px;
        }

.ttWidget {
    width: 250px;
}

#tidyTweetFeed {
    font-size: .75em;
}

    #tidyTweetFeed ul li img.aIcon {
        height: 35px;
        width: 35px;
    }

    #tidyTweetFeed .aContent {
        width: 180px;
    }

/*#featured{overflow:hidden; height:250px; width:600px;}*/

/*Portfolio Page*/

#portfolio {
}

    #portfolio .portItem {
        clear: both; /* float:left; */
        min-height: 155px;
        width: 100%;
        margin: 5px 0;
    }

        #portfolio .portItem .portImage {
        }

        #portfolio .portItem .siteLogo {
            height: 150px;
            width: 200px;
            display: block; /*border:1px solid #232323; */
            float: left;
            margin: 15px;
        }

        #portfolio .portItem .portDesc { /* width:380px; float:left; */
            min-height: 150px;
            overflow: hidden;
            margin: 15px 15px 15px 0;
        }

            #portfolio .portItem .portDesc span {
                font-style: italic;
            }

/*#troop107{background:url(images/logos/bsalogo.jpg) top center no-repeat;}
#pbLogo{background:url(images/logos/479logo.jpg) top center no-repeat;}
#myWM{background:url(images/logos/mywalmart1.jpg) top center no-repeat;}
#pnlLogo{background:url(images/logos/pnlLogo.jpg) top center no-repeat;}
#controllerLogo{background:url(images/logos/controller.jpg) top center no-repeat;}
#unlikeStuff{background:url(images/logos/unlikestuffThumb.jpg) top center no-repeat;}
#holiday {background:url(images/portfolio/holiday_thumb.jpg) top center no-repeat;}
#chooseAnyTwo {background:url(images/portfolio/chooseanytwo_thumb.jpg) top center no-repeat;}
#gameDay {background:url(images/portfolio/gameday_thumb.jpg) top center no-repeat;}*/
/*#portfolio .portItem p,#portfolio .portItem h3, #portfolio .portItem span {display:block;  float:left; width:60%}*/

/* Overlay */
#simplemodal-overlay {
    background-color: #000;
    cursor: wait;
}

#simplemodal-container {
}
/* Container */
#simplemodal-container {
    width: 725px;
    color: 000;
    border: 4px solid #000;
    padding: 12px;
    position: absolute !important;
    top: 5% !important;
}

    #simplemodal-container a.modalCloseImg {
        background: url(images/x.png) no-repeat;
        width: 25px;
        height: 29px;
        display: inline;
        z-index: 3200;
        position: absolute;
        top: -15px;
        right: -16px;
        cursor: pointer;
    }

    #simplemodal-container #basic-modal-content {
        padding: 8px;
    }

.simplemodal-data img {
    display: block;
    margin: 0 auto;
}
/*About Me*/
.aboutMePhoto {
    float: left;
    margin: 15px 15px 15px 0;
    height: 178px;
    width: 178px;
}


.galleryItems {
}

    .galleryItems li {
        display: inline-block;
        width: 100px;
        height: 125;
        margin: 4px;
        padding: 5px;
        vertical-align: top;
    }

        .galleryItems li img {
            display: block;
            width: 100px;
            margin: 0 auto;
        }

#sideBarLinks {
}

    #sideBarLinks ul { /* margin: 0 0 15px 10px;  */
    }

    #sideBarLinks li, #sideBarLinks h3 { /*margin: 5px 0;*/
        padding: 10px;
    }

    #sideBarLinks li {
        padding-left: 25px;
    }

        #sideBarLinks li span {
            display: block;
            font-size: 12px;
            font-style: italic;
            margin-top: 5px;
        }

#resumePage h4 {
    margin-bottom: 10px;
}

.headerDetails {
    margin: 25px 0;
}

.collapse + ul, .collapse + p {
    display: none;
}

.expander {
    float: right;
}

.multiCol {
    margin-left: 15px !important;
}

#resumePage .multiCol li {
    display: inline-block;
    margin: 0px !important;
}

#resumePage .twoCol li {
    width: 200px;
    height: 25px;
    margin: 0px !important;
}

#resumePage .realTwoCol li {
    width: 300px;
    height: 25px;
}

.threeCol li {
    width: 125px;
    height: 25px;
}

#resumePage ul, #resumePage p {
    margin-bottom: 20px;
}

#resumePage p {
    margin-left: 15px;
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}

    #jquery-lightbox a img {
        border: none;
    }

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#lightbox-container-image {
    padding: 10px;
}

#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
    left: 0;
}

#lightbox-nav a {
    outline: none;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}

#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}

#lightbox-nav-btnNext {
    right: 0;
    float: right;
}

#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}

#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}

    #lightbox-container-image-data #lightbox-image-details {
        width: 70%;
        float: left;
        text-align: left;
    }

#lightbox-image-details-caption {
    font-weight: bold;
}

#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}

#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    padding-bottom: 0.7em;
}

/*


            Orbit plugin


*/


/* CONTAINER */
div.orbit {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: relative;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);
    background: url('orbit/loading.gif') no-repeat center center;
}

    div.orbit img {
        position: absolute;
        top: 0;
        left: 0;
    }

/* TIMER */
div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1000;
}

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url('orbit/rotator-black.png') no-repeat;
    z-index: 3;
}

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
}

span.rotator.move {
    left: 0;
}

span.mask.move {
    width: 40px;
    left: 0;
    background: url('orbit/timer-black.png') repeat 0px 0px;
}

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0px;
    background: url('orbit/pause-black.png') no-repeat;
    z-index: 4;
    opacity: 0;
}

    div.timer:hover span.pause,
    span.pause.active,
    div.timer:hover span.pause.active {
        opacity: 1;
    }

/* CAPTIONS */
div.caption {
    background: rgba(0,0,0,.6);
    width: 100%;
    z-index: 1000;
    position: absolute;
    bottom: -50px;
    color: #fff;
}

    div.caption p {
        padding: 8px 10px 8px;
        font-size: 12px;
        text-shadow: 0px 1px 0px rgba(0,0,0,.8);
        margin: 0;
    }

/* DIRECTIONAL NAV */
div.orbit:hover div.slider-nav {
    display: block;
}

div.slider-nav {
    display: none;
}

    div.slider-nav span {
        width: 33px;
        height: 33px;
        text-indent: -9999px;
        position: absolute;
        z-index: 1000;
        top: 190px;
        cursor: pointer;
    }

        div.slider-nav span.right {
            background: url('orbit/right-arrow.png');
            right: 10px;
        }

        div.slider-nav span.left {
            background: url('orbit/`left-arrow.png');
            left: 10px;
        }

.form {
}

    .form label,
    .form input {
        margin-bottom: 10px;
    }

    .form label {
        display: block;
    }

    .form input[type=text] {
        display: block;
        padding: 10px;
        width: 400px;
    }

    .form input[type=button] {
        padding: 10px;
    }

    .form textarea {
        height:150px;
        width:100%;
    }

.radioList {
}

    .radioList label,
    .checklist label {
        display: inline;
    }
