<div id="footerContainer">
	<div class="footerBody">
		<ul>
			<li><a href="http://www.twitter.com/worthyd" title="twitter">Twitter</a></li>
			<li><a href="http://www.facebook.com/worthyd" title="Facebook">Facebook</a></li>
			<li><a href="http://www.linkedin.com/in/worthyd" title="linked in">LinkedIn</a></li>
		</ul>
	</div>
</div>
