@{
	//    ViewBag.Title = "InteriorMaster";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ExtraCSS {
	@RenderSection("ExtraCSS", false)
}
<div id="interiorContent">
	<div class="intBody">
		<div class="contentWrapper">
			@RenderBody()
		</div>
	</div>
</div>
<div id="sideBar">
	<div class="sideBarBody">
		@Html.Partial("_RightColumnDefault")
	</div>
</div>
@section ExtraScript {
	@RenderSection("ExtraScript", false)
    <script type="text/javascript">
        $(function () {
            var h = $('.sideBarBody').height();
            if(h && h > 0){
                $('#interiorContent').css('min-height', h + 'px');
            }
        });
    </script>
}
