/*
    Resets and generics
    */
body {
    font-size: 14px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

a {
    color: #0916a9;
    text-decoration: none;
}

    a:hover {
    }

p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5 {
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

h5 {
    font-size: 16px;
    margin-bottom: 5px;
}



#content {
}

    #content .profilePic {
        background: url(http://www.gravatar.com/avatar/67b727175a880f13e6240c856764670e.png?s=50) 0 0 no-repeat;
        background-size: 38px;
        display: inline-block;
        height: 38px;
        top: 0;
        left: 0;
        width: 38px;
        float: left;
    }


nav {
    background: #232323;
}

    nav a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }

    nav li {
        border-bottom: 1px solid #fff;
    }

        nav li a {
            display: block;
        }

            nav li a:hover {
                color: #232323;
                background-color: #fff;
            }



nav {
    float: none;
    width: 100%;
    min-height: 25px;
    position: relative;
    overflow: visible;
}



    nav #btnMenu {
        display: block;
        padding-left: 60px;
        padding: 10px 0 10px 60px;
    }

    nav ul {
        margin-top: 0px;
        padding-bottom: 0px;
        border: none;
        /*background: #232323;*/
    }

    nav li a {
        padding: 10px;
    }

    nav #ddlMenu li {
        width: 50%;
        float: left;
        border: 1px solid #fff;
        background: #232323;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    nav #btnBlogs {
        display: none;
    }

    nav #ddlMenu {
        /*height: auto;*/
        height: 0;
        left: 0px;
        padding-left: 50px;
        top: 38px;
        width: auto;
        transition: height 0.4s ease-in-out;
        -moz-transition: height 0.4s ease-in-out;
        -webkit-transition: height 0.4s ease-in-out;
        -o-transition: height 0.4s ease-in-out;
        overflow: hidden;
        z-index: 100;
    }

        nav #ddlMenu.show {
            height: 200px;
        }

    nav .blogDDL ul {
        height: auto;
        position: static;
        border: none;
        width: auto;
        background: none;
    }

    nav #ddlMenu li.blogDDL {
        width: 100%;
        border: none;
        background: none;
    }

#btnMenu {
    display: block;
}

.sub {
    /*visibility: hidden;*/ /* This hides the menu until we hover */
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    overflow: visible;
    height: auto;
}

#main {
    padding: 10px;
}

/*
        Footer elements
        */
footer {
    text-align: right;
}

    footer ul {
        margin-top: 10px;
    }

    footer li {
        padding: 0px 10px;
        display: inline-block;
    }



/*@media (min-width: 768px) {
    #content {
        margin-top: 100px;
        border: 2px solid #232323;
    }

        #content .profilePic {
            background: url(http://www.gravatar.com/avatar/67b727175a880f13e6240c856764670e.png?s=50) 0 0 no-repeat;
            display: inline-block;
            height: 50px;
            top: 0;
            left: 0;
            width: 50px;
        }

        #content nav {
            min-height: 500px;
            position: relative;
            overflow: visible;
        }

    nav ul li {
        display: block;
    }

    nav li {
        border: none;
        border-bottom: 1px solid #fff;
    }

    nav #ddlMenu {
        margin-top: 0px;
        padding-bottom: 0px;
        border-top: none;
        width: 100%;
        position: absolute;
        top: inherit;
        left: inherit;
        top: 0px;
        left: 0px;
        height: 100%;
        padding-left: 0px;
        overflow: visible;
    }

        nav #ddlMenu > li {
            border: none;
            border-bottom: 1px solid #fff;
        }

        nav #ddlMenu li,
        nav #ddlMenu li.blogDDL {
            float: none;
            width: auto;
            padding: 0;
        }

    nav #btnMenu {
        display: none;
    }

    .sub {
        position: absolute;
        top: 50px;
        left: 0;
        width: 200px;
        height: auto;
    }

    nav .blogDDL .show {
    }


    nav #btnBlogs {
        display: none;
    }

    nav .blogDDL {
        position: relative;
        overflow: visible;
    }

        nav .blogDDL ul {
            position: absolute;
            background: #232323;
            width: 100%;
        }

        nav .blogDDL li {
            display: block;
        }

    nav #ddlMenu .blogDDL li {
        border: none;
        border-bottom: 1px solid #fff;
    }

    nav .blogDDL li:last-child {
        border-bottom: none;
    }

    nav li a {
        padding: 5px 10px;
    }
}*/

@media (min-width: 992px) {
    header, #content,
    footer {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 960px;
    }

    header {
        height: 100px;
    }

    #content, nav {
        background: #232323;
        min-height: 500px;
    }

    #content {
        margin-top: 100px;
        border: 2px solid #232323;
    }

        #content .profilePic {
            background: url(http://www.gravatar.com/avatar/67b727175a880f13e6240c856764670e.png?s=50) 0 0 no-repeat;
            display: inline-block;
            height: 50px;
            top: 0;
            left: 0;
            width: 50px;
        }

        #content nav {
            min-height: 500px;
            position: relative;
            overflow: visible;
        }

    #main {
        background: #fff;
        height: 100%;
        overflow: hidden;
        min-height: 500px;
        padding: 15px;
    }

    nav {
        background: #232323;
        float: left;
        width: 180px;
        overflow: hidden;
    }

        nav ul li {
            display: block;
        }

        nav li {
            border: none;
            border-bottom: 1px solid #fff;
        }

        nav #ddlMenu {
            height: 100%;
            margin-top: 175px;
            padding-bottom: 20px;
            border-top: 1px solid #fff;
        }

        nav #ddlMenu {
            margin-top: 0px;
            padding-bottom: 0px;
            border-top: none;
            width: 100%;
            position: absolute;
            top: inherit;
            left: inherit;
            top: 0px;
            left: 0px;
            height: 100%;
            padding-left: 0px;
            overflow: visible;
        }

            nav #ddlMenu > li {
                border: none;
                border-bottom: 1px solid #fff;
            }

            nav #ddlMenu li,
            nav #ddlMenu li.blogDDL {
                float: none;
                width: auto;
                padding: 0;
            }

        nav #btnMenu {
            display: none;
        }
        .sub {
        position: absolute;
        top: 50px;
        left: 0;
        width: 200px;
        height: auto;
    }

    nav .blogDDL .show {
    }


    nav #btnBlogs {
        display: none;
    }

    nav .blogDDL {
        position: relative;
        overflow: visible;
    }

        nav .blogDDL ul {
            position: absolute;
            background: #232323;
            width: 100%;
        }

        nav .blogDDL li {
            display: block;
        }

    nav #ddlMenu .blogDDL li {
        border: none;
        border-bottom: 1px solid #fff;
    }

    nav .blogDDL li:last-child {
        border-bottom: none;
    }

    nav li a {
        padding: 5px 10px;
    }

    #content .profilePic {
        background: url(http://www.gravatar.com/avatar/67b727175a880f13e6240c856764670e.png?s=180) 0 0 no-repeat;
        display: block;
        height: 180px;
        left: -25px;
        position: absolute;
        top: -25px;
        width: 180px;
    }
}
