/*
    Home Page
    */
.hpCol {
    float: left;
    width: 365px;
}
.socialLinks {
}
    .socialLinks li {
        display:inline-block;
        margin:5px;
        width:40%;
        
    }
    .socialLinks a{
        color:#fff;
        background:#232323;
        border:1px solid #232323; 
        padding:8px;
        display:block;
    }
        .socialLinks a:hover {
            color:#232323;
            background:#fff;
        }

.blogLinks {
    margin-bottom:10px;
}
    .blogLinks li {
        margin-bottom:5px;
    }
    .blogLinks a {
        display:block;

    }
/*
    About Me
    */
.familyPic {
    float: left;
    margin: 0 15px 15px 0;
}


/*
    Gaming
    */
.myavatar {
    float: left;
    width: 132px;
}

.gaminContent {
    overflow: hidden;
}

.gameWrapper {
    overflow: hidden;
}

.gameContent {
}

.gaminContent a, .gaminContent iframe {
    /*display: block;
        float:left;
            */
    display: inline-block;
    vertical-align: middle;
    height: 140px;
    margin: 15px;
    width: 204px;
    text-align: center;
}

    .gaminContent a img {
        vertical-align: middle;
    }
/*
    Experience
    */
.exp {
}

    .exp ul {
        list-style: disc inside;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .exp li {
        padding: 3px 0;
    }

    .exp ul.multiCol {
        list-style: none;
    }

        .exp ul.multiCol li {
            display: inline-block;
        }

    .exp ul.twoCol li {
        width: 45%;
    }

    .exp ul.threeCol li {
        width: 30%;
    }
