<html>

    <head>
        <title>WorthyD</title>
        <!-- @@include('header.html') -->


        <link rel="stylesheet" href="styles/uses.min.css">
    </head>

    <body class="page">

        <!-- @@include('_header.html') -->
        <main>

            <article>
                <h2>What does WorthyD use?</h2>
                <p>
                    I like talking about gear and moving things around to improve the way I work.
                </p>
                <h2>Development Tools</h2>
                <p>
                    I feel it's really important to always be exploring and trying new things. Below are my tools of choice that I always have
                    to have installed on my development machines.
                </p>
                <ul>
                    <li>
                        <a href="">VSCode</a>
                        <ul>
                            <li>
                                <a href="">Vim</a>
                            </li>

                            <li>
                                <a href="">Settings Sync</a>
                            </li>
                            <li>
                                <a href="">Code Spell Checker</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Visual Studio 2017</a>
                        <ul>
                            <li>
                                <a href="">VsVim</a>
                            </li>
                        </ul>
                    </li>
                    <li>PowerShell</li>
                    <li>Auto Hotkey</li>
                    <li>Rain Meter</li>
                    <li>Foobar2000 Pretzel</li>
                </ul>

                <h2>Hardware Setup</h2>
                <p>

                </p>
                <h3>Primary Equipment</h3>
                <ul>
                    <li>
                        My primary monitor is a
                        <a href="https://www.amazon.com/gp/product/B01IOO4SGK/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Dell 2417DG 24" 2560 X 1440</a> with two
                        <a href="https://www.amazon.com/gp/product/B00413PHDM/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">ASUS VE228H 21.5" 1920x1080</a> flanking it. I also have a Visio 55" mounted above my main monitor
                        that I use for gaming or a 4th screen.
                    </li>
                    <li>I'm a big fan of mechanical keyboards I use a
                        <a href="">Code Keyboard 60%</a> at work and a
                        <a href="">CM Quickfire Stealth 80%</a> for home.</li>
                    <li>I've used a
                        <a href="">Razer DeathAdder</a> mouse with a
                        <a href="">mouse bungie</a> to avoid tangles.</li>
                    <li>I switch between a
                        <a href="https://www.amazon.com/gp/product/B003DA4D2U/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Sennheiser PC 360 Headset</a> and a
                        <a href="https://www.amazon.com/gp/product/B01LYNEIEI/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">SteelSeries Arctis 7 Headset</a> for audio.
                    </li>
                    <li>
                        When screen casting, video conferencing, or streaming, I use a
                        <a href="https://www.amazon.com/gp/product/B006JH8T3S/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Logitech C920</a> for my video and a
                        <a href="https://www.amazon.com/gp/product/B00N1YPXW2/ref=oh_aui_search_detailpage?ie=UTF8&th=1">Blue Yeti</a> for my microphone.
                    </li>
                    <li>
                        I work from home a lot and I use a
                        <a href="https://www.amazon.com/gp/product/B00JX3Q28Y/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">USB Switch Hub</a>, several USB graphics cards, and a combination of HDMI switches to switch all
                        my monitors and input devices to my work laptop. This allows me to use my home monitors, keyboard,
                        mouse, etc with my work laptop without needing to unplug anything. This could be solved with a KVM
                        switch, but one that supports triple monitors is way too expensive for me.
                    </li>


                </ul>
                <h3>PC Hardware</h3>
                <ul>
                    <li>Case</li>
                    <li>Mobo, processor, & cooler</li>
                    <li>Graphics Card</li>
                    <li>Ram</li>
                    <li></li>
                </ul>
                <h3>Office Equipment</h3>
                <ul>
                    <li>Desk</li>
                    <li>Cabinet</li>
                    <li>Chair</li>
                </ul>
            </article>

        </main>

        <!-- @@include('_footer.html') -->

        <!-- TODO Remove this in favor of a non-jquery version -->
        <script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script>
            function init() {
                var header = document.querySelector("header");
                var shrinkOn = 25;


                window.addEventListener('scroll', function (e) {
                    var distanceY = window.pageYOffset || document.documentElement.scrollTop;
                    if (distanceY > shrinkOn) {
                        //classie.add(header,"smaller");
                        $('header, .main').addClass('smaller');
                    } else {
                        if ($('header, .main').hasClass('smaller')) {
                            $('header, .main').removeClass('smaller');
                        }
                    }
                });
            }
            init();
        </script>
        <!-- @@include('footer.html' ) -->
    </body>


</html>