<html>

    <head>
        <title>WorthyD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <link rel="stylesheet" href="styles/resume.min.css"> -->



    </head>

    <body>
        <header>
            <div></div>
            <div class="main">
                <h1>Daniel Worthy</h1>
                <h2>Full Stack Web Developer/Architect</h2>
            </div>
            <div class="info">
                <ul>
                    <li>danieljworthy@gmail.com</li>
                    <li>worthyd.com</li>
                    <li>worthyd</li>
                    <li>worthyd</li>
                </ul>
            </div>
        </header>
        <section>
            <header>About</header>
            <div>
                <p>
                    I'm a full stack web developer with a little over 10 years experience in Microsoft and JavaScript tech stacks.  I find a lot of excitement in 
                    creative problem solving and continuous improvement.
                </p>
                <p>
                    
                </p>
            </div>
        </section>
        <section>
            <header>Experience</header>
            <div>
                <h3>Enterprise Architect | Rockfish Digital 2017 - Present</h3>
                <p>
                    I'm responsible for directing technical standards and development best practices across Rockfish technology disciplines.
                    I also serve as a technical expert with a a broad level of knowledge across multiple disciplines. I traditionally
                    apply my knowledge to multiple projects across the organization.
                </p>
                <h3>Front End Instructor | University of Arkansas IT Readiness 2016 - Present</h3>
                <p>
                    I instruct a 6 month long Front End Development Course. Class size is from 12 to 14 students. Students are established in
                    a profession, but are wanting to either expand a skill set or change careers. I'm responsible for establishing
                    curriculum, writing material, administering assignments, and coaching students.
                </p>
                <h3>Technology Architect - Front End | Rockfish Digital 2013 - 2017</h3>
                <p>
                    I was primarily responsible for identifying new technologies to implement and bringing the technology department up to speed
                    with them. I also provided technical standards direction, best practice documentation, and promoted code
                    quality via mentorship. I was involved in establishing and assessing developer skill tests for job applications
                    and contractor applicants.
                </p>
                <h3>Sr. Developer | Rockfish Interactive 2011 - 2013</h3>
                <p>
                    Gather project requirements, help with project estimates and staffing. Act as development Team Lead on projects. Architect
                    project solutions. Delegate tasks to other developers.
                </p>
                <h3>Developer II | Rockfish Interactive 2009 - 2011</h3>
                <p>
                    Primarily develop websites using C# in .Net MVC. Develop Websites keeping scalability and reusability of code in mind. Design
                    databases for projects. Setup websites in IIS on load balanced servers. Collaborate with project/account
                    managers to collect requirements and develop project estimates.
                </p>
                <h3>Developer I | Rockfish Interactive 2007 - 2009</h3>
                <p>
                    Primarily developed websites using VB in .Net Forms. Work on tasks assign to by team lead. Work on maintenance items for
                    pre-existing websites. Participate in site Q/A. Learn additional technologies to expand expertise.
                </p>


            </div>
        </section>
        <section>
            <header>Skills</header>
            <div>
                <p>
                    C#, Asp.Net MVC, EntityFramework, .Net Core, HTML5, CSS3, JavaScript, jQuery, AngularJS, Angular, SCSS, Microsoft SQL Server,
                    IIS, Git, Visual Studio, Visual Studio Code, gVim, Adobe PhotoShop, Sketch
                </p>
            </div>
        </section>
        <section>
            <header>Education / Awards</header>
            <p>
                Bachelor of Science in Business Administration 2007 | Major: Small Business Management | Minor: Information Systems
            </p>
            <p>
                Alpha Phi Omega - Service Fraternity - Class of 2015
            </p>
            <p>
                Eagle Scout - Boys Scouts of America - 2001
            </p>
        </section>

    </body>

</html>