<h2>What does WorthyD use?</h2>
<p>
    I like talking about gear and moving things around to improve the way I work.
</p>
<h2>Development Tools</h2>
<p>
    I feel it's really important to always be exploring and trying new things.  Below are my tools of choice that I always have to have installed on my development machines.
</p>
<ul>
    <li>
        <a href="">VSCode</a>
        <ul>
            <li>
                <a href="">Vim</a>
            </li>
 
            <li>
                <a href="">Settings Sync</a>
            </li>
            <li>
                <a href="">Code Spell Checker</a>
            </li>
       </ul>
    </li>
    <li>
        <a href="">Visual Studio 2017</a>
        <ul>
            <li>
                <a href="">VsVim</a>
            </li>
       </ul>
    </li>
    <li>PowerShell</li>
    <li>Auto Hotkey</li>
    <li>Rain Meter</li>
    <li>Foobar2000 Pretzel</li>
</ul>

<h2>Hardware Setup</h2>
<p>

</p>
<ul>
    <li>I'm a big fan of mechanical keyboards I use a <a href="">Code Keyboard 60%</a> at work and a <a href="">CM Quickfire Stealth 80%</a> for home.</li>
    <li>I've used a <a href="">D</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>
