@{
    ViewBag.Title = "Online HTML Encoder";
    ViewBag.MetaKeywords = "HTML Encoder, Online HTML Encoder";
    ViewBag.MetaDescription = "WorthyD's Online HTML Encoder";

    Layout = "~/Views/Tools/_Layout.cshtml";
}


<div class="form">
    <textarea id="toEncode"></textarea>

    <div class="controls">
        <a href="#" id="btnEncode" class="btn">Html Encode</a>

        <a href="#" id="btnDecode" class="btn">Html Decode</a>
    </div>
    <textarea id="txtEncoded"></textarea>

</div>
@section scripts{

    <script type="text/javascript">
        $(function () {
            $('#btnEncode').click(function () {
                $('#txtEncoded').val(htmlEncode($('#toEncode').val()));
            });
            $('#btnDecode').click(function () {
                $('#txtEncoded').val(htmlDecode($('#toEncode').val()));
            });

        });
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }

    </script>

}