@{
    ViewBag.Title = "Online URL Encoder and Decoder";
    ViewBag.MetaKeywords = "URL Encoder,URL Decoder, Online URL Encoder, Online URL Decoder";
    ViewBag.MetaDescription = "WorthyD's Online URL Encoder and Decoder";
    Layout = "~/Views/Tools/_Layout.cshtml";
}
<div class="form">
    <textarea id="toEncode"></textarea>

    <div class="controls">
        <a href="#" id="btnEncode" class="btn">URL Encode</a>

        <a href="#" id="btnDecode" class="btn">URL Decode</a>
    </div>
    <textarea id="txtEncoded"></textarea>

</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#btnEncode').click(function () {
                //$('#txtEncoded').val(htmlEncode($('#toEncode').val()));
                $('#txtEncoded').val(escape($('#toEncode').val()));
            });
            $('#btnDecode').click(function () {
                //$('#txtEncoded').val(htmlEncode($('#toEncode').val()));
                $('#txtEncoded').val(unescape($('#toEncode').val()));
            });

        });


    </script>

}
