@{
	ViewBag.Title = "AboutMobile";
	Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
<img src="/content/images/logos/jquerymobile.png" class="aboutMySitePhoto" />
<h2>About My Mobile Site</h2>
<p>
	I built this site using jQuery Mobile. I built it with little effort using the same views from my front end site with a
	different master page. My site is built using MVC3 with the Razor View Engine. Thankfully, jQuery mobile comes with a clean
	theme so I didn't have to do any design work.
</p>
