@{
    ViewBag.Title = "Experience";
}
<div class="exp">
    <h4>Work Experience</h4>
    <p>
        I'm considered a backend and front end developer.  I really enjoy working in the
        middle where I can work with data and do visual work with it.  
        I've taken agile training from <a href="http://www.aspe-sdlc.com/">ASPE SDLC Training</a>.
        I have experience in both agile and waterfall methodologies. 
    </p>
    <h5>Technology Architect- Rockfish Interactive - May 2013 - Present</h5>
    <ul>
        <li>Primarily responsible for understanding which new technologies to utilize and then
            bringing the rest of the technology organization up to speed to implement </li>
        <li>Develop building-block code libraries that be applied across various projects to
            drive efficiency</li>
        <li>Provide technical standards direction, both internally and externally via boards
            and alliances</li>
        <li>Best practice documentation and sharing across Rockfish</li>
        <li>Define code reviews and help roll them across Rockfish; assist in highlighting what
            needs to be fixed, why it should be done differently, and defining why a different
            approach is needed</li>
        <li>Promote code quality and technical thinking via mentorship of less-experienced developers
        </li>
        <li>Determine approach at front of assigned projects; write new algorithms and approaches
            to solve hard problems</li>
    </ul>

    <h5>Sr. Web Developer - Rockfish Interactive - April 2011 - May 2013</h5>
    <ul>
        <li>Primarily develop websites using C# in .Net MVC</li>
        <li>Research and implement new technologies in projects</li>
        <li>Develop Websites keeping scalability and reusability of code in mind</li>
        <li>Ensure quality coding standards in projects</li>
        <li>Collaborate with project/account managers to collect requirements and develop project
            estimates</li>
        <li>Responsibilities from Dev II and Dev I</li>
    </ul>
    <h5>Web Developer II - Rockfish Interactive - November 26, 2009 to April 2011</h5>
    <ul>
        <li>Primarily develop websites using C# in .Net MVC</li>
        <li>Design databases for projects</li>
        <li>Setup websites in IIS on load balanced servers</li>
        <li>Dev I</li>
    </ul>
    <h5>Web Developer I - Rockfish Interactive - November 26, 2007 to November 26, 2009
    </h5>
    <ul>
        <li>Primarily developed websites using VB in .Net Forms</li>
        <li>Work on tasks assign to by team lead</li>
        <li>Work on maintenance items for pre-existing websites</li>
        <li>Participate in site Q/A</li>
        <li>Learn additional technologies to expand expertise</li>
    </ul>

    <h4>I have experience in the following languages/platforms</h4>
    <ul class="multiCol threeCol">
        <li>VB</li>
        <li>C#</li>
        <li>.Net</li>
        <li>WPF</li>
        <li>Azure</li>
        <li>Silverlight</li>
        <li>Javascript</li>
        <li>Microsoft SQL Server</li>
        <li>HTML (HTML5)</li>
        <li>CSS (CSS3)</li>
        <li>PSD to HTML</li>
    </ul>
    <h4>Frameworks I'm familiar with</h4>
    <ul class="multiCol threeCol">
        <li>Vanilla JS</li>
        <li>jQuery</li>
        <li>jQuery UI</li>
        <li>jQuery Mobile</li>
        <li>Backbone.js</li>
        <li>Underscore.js</li>
        <li>Microsoft MVC (2,3,4)</li>
        <li>Linq to SQL</li>
        <li>Entity Framework</li>
        <li>Twitter Bootstrap</li>
        <li>Knockout.js</li>
    </ul>
    <h4>Currently Learning/Studying</h4>
    <ul class="multiCol threeCol">
        <li>Windows 8</li>
    </ul>
    <h4>Business Apps I have experience with</h4>
    <ul class="multiCol threeCol">
        <li>VS 2008, 2010 & 2012</li>
        <li>Vim</li>
        <li>IIS 7, 7.5 & 8</li>
        <li>VSS</li>
        <li>TFS</li>
        <li>SVN</li>
        <li>Mercurial</li>
        <li>Git</li>
        <li>Photoshop</li>
        <li>Eclipse and Aptana</li>
        <li>SQL Server 2008</li>
        <li>Office 2010</li>
        <li>Redmine</li>
    </ul>
    <h4>APIs/Social plugins I am familiar with implementing</h4>
    <ul class="multiCol threeCol">
        <li><a href="http://code.google.com/apis/youtube/2.0/developers_guide_dotnet.html"
            target="_blank">YouTube</a></li>
        <li><a href="http://vimeo.com/api" target="_blank">Vimeo</a></li>
        <li>Facebook</li>
        <li>Twitter</li>
    </ul>
    <h4>Relevant Hobbies/Activities</h4>
    <ul class="multiCol threeCol">
        <li>Technology Blogging</li>
        <li>NWA Dot Net User Group</li>
        <li>Writing jQuery Plugins</li>
    </ul>
    <h4>Education / Awards</h4>
    <ul>
        <li>Bachelor of Science in Business Administration - University of Arkansas 2007
			<ul>
                <li>Major - Small Business Management, Minor - Information Systems</li>
            </ul>
        </li>
        <li>Eagle Scout - BSA Troop 107 - 2001</li>
    </ul>
</div>
