@{
    ViewBag.Title = "Gaming";
}

<style type="text/css">

</style>
<div class="gameWrapper">
    <div class="gaminContent">

        @*<img src="http://avatar.xboxlive.com/avatar/CaptainWorthy/avatar-body.png" class="myavatar" />*@
        <p>
            It's no secret I do a little gaming. Here are some of my gamer tags and score board cards. I'm always up for some friendly
            gaming. I play for fun. I don't care about winning.
        </p>
        <div class="row">
            <div class="col sm-4">
                <iframe src="http://gamercard.xbox.com/en-US/CaptainWorthy.card"width="204"></iframe>
            </div>
            <div class="col sm-4">
                <a href="http://steamcommunity.com/id/WorthyD">
                    <img src="~/Content/Images/steam.jpg" class="img-responsive" />
                </a>
            </div>

            <div class="col sm-4">
                <a href="http://us.battle.net/sc2/en/profile/3213645/1/WorthyD/" target="_blank">
                    <img src="~/Content/Images/sc2.jpg" class="img-responsive" />
                </a>
            </div>
        </div>

    </div>
</div>
<div class="clear">
</div>
