@{
    ViewBag.Title = "Gaming";
}

<style type="text/css">
   
</style>
<div class="gameWrapper">
    <div class="gaminContent">

        @*<img src="http://avatar.xboxlive.com/avatar/CaptainWorthy/avatar-body.png" class="myavatar" />*@
        <p>
            It's no secret I do a little gaming. Here are some of my gamer tags and score board cards. I'm always up for some friendly
            gaming. I play for fun. I don't care about winning.
        </p>
        <iframe src="http://gamercard.xbox.com/en-US/CaptainWorthy.card" height="140" width="204"></iframe>
        <a href="http://steamcommunity.com/id/WorthyD">
            <img src="~/Content/Images/Gaming/steam.png" />
        </a>

        <a href="#" onclick="alert('Origin Username: WorthyD')">
            <img src="~/Content/Images/Gaming/origin.png" style="padding-top: 35px;" />
        </a>
        <a href="http://us.battle.net/sc2/en/profile/3213645/1/WorthyD/" target="_blank">
            <img src="~/Content/Images/Gaming/starcraft2.png" />

        </a>

        <a href="http://bf2s.com/player/112970549/">
            <img src="~/Content/Images/Gaming/bf2.png" />
        </a>

        <a href="http://bfbc2.statsverse.com/stats/pc/WorthyD/">
            <img src="~/Content/Images/Gaming/bfbc2.png" />
        </a>
        <a href="http://www.halowaypoint.com/en-us/players/captainworthy/haloreach">
            <img src="~/Content/Images/Gaming/reach.png" />
        </a>
        <a href="http://www.halowaypoint.com/en-us/players/captainworthy/haloanniversary">
            <img src="~/Content/Images/Gaming/haloanniv.png" />
        </a>
        <a href="http://www.bungie.net/Stats/Halo3/Default.aspx?player=CaptainWorthy">
            <img src="~/Content/Images/Gaming/halo3.png" />

        </a>

        @*<a href="http://www.halowars.com/stats/StatsPlayer.aspx?id=E919B7965A1BA68FACA572F06C2A4AE02E3DC2DE287C2BADB414982BA853A038"></a>*@
        @* <a href="http://us.battle.net/sc2/en/profile/3213645/1/WorthyD/" target="_blank">
            <img src="http://sc2sig.com/s/us/3213645-1.png" alt="" border="0" /></a>



        <a href="http://bf2s.com/player/112970549/">
            <img src="http://bf2sig.l0ser.net/siggen.php?sigName=WorthyD&sigImage=0&sigValue=s1%3DPlayer+ID%26s2%3DCurrent+Rank%26s3%3DTotal+Time+Played%26s4%3DTotal+Wins%26s5%3DTotal+Losses%26s6%3DTotal+Score" /></a>
        <a href="http://bfbc2.statsverse.com/stats/pc/WorthyD/">
            <img src="http://bfbc2.statsverse.com/sig/clean1/pc/WorthyD.png" alt="" /></a>

        <h6>
            <a href="http://steamcommunity.com/id/WorthyD"><img src="http://steamcard.com/do/sigcard-original/WorthyD.png" /></a></h6>
        <h6>
            <a href="http://www.bungie.net/Stats/Halo3/Default.aspx?player=CaptainWorthy">Halo 3 and ODST</a></h6>
        <h6>
            <a href="http://www.bungie.net/Stats/Reach/Default.aspx?player=CaptainWorthy">Halo Reach</a></h6>
        <h6>
            <a href="http://www.halowars.com/stats/StatsPlayer.aspx?id=E919B7965A1BA68FACA572F06C2A4AE02E3DC2DE287C2BADB414982BA853A038">
                Halo Wars</a></h6>
        <h6>
            <a href="http://live.xbox.com/en-US/Profile?Gamertag=CaptainWorthy">XBox Live</a></h6>*@
    </div>
</div>
<div class="clear">
</div>
