@{
    ViewBag.Title = "Index";
}

<p>
    Hey everyone, My name is Daniel Worthy. I'm a web developer who works for <a href="http://rockfishinteractive.com/">Rockfish&nbsp;Interactive</a> in Rogers, AR.
    I married my best friend and we have a beutiful daughter.  I spend my free time with my family, coding and gaming. Feel free to poke around to learn more about me.
</p>
<div class="hpCol">
    <h2>Social Networks</h2>
    <ul class="socialLinks">
        <li><a href="https://www.facebook.com/worthyd">Facebook</a></li>
        <li><a href="https://twitter.com/worthyd">Twitter</a></li>
        <li><a href="https://plus.google.com/108054560584445672457">Google+</a></li>
        <li><a href="http://www.linkedin.com/in/worthyd">LinkedIn</a></li>
        <li><a href="https://foursquare.com/worthyd">Foursquare</a></li>
        <li><a href="http://www.youtube.com/captainworthy">YouTube</a></li>
        <li><a href="http://www.twitch.tv/worthyd">Twitch.TV</a></li>
        <li><a href="http://www.last.fm/user/worthyd">Last.FM</a></li>
    </ul>
</div>

<div class="hpCol">
    <h2>My Stuff</h2>
    <ul class="blogLinks">
        <li>
            <h4><a href="http://blog.worthyd.com">WorthyD's Tech/Geek Blog</a></h4>
            Just a blog where I try to post tech and geek related stuff
        </li>
        <li>
            <h4><a href="https://www.youtube.com/user/CaptainWorthy">My Video Tutorials</a></h4>
            I've started doing some YouTube tutorial tech videos.
        </li>
        <li>
            <h4><a href="http://github.com/worthyd">GitHub</a></h4>
            Checkout some of the open source projects I have been working on.
        </li>
    </ul>
 
</div>
