@{
    ViewBag.Title = "Proficiency";
}

<h2>Proficiency</h2>

<div class="row">
    <div class="col md-6">
        <h3>HTML/CSS</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>

        <h5>HTML5</h5>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>CSS3</h5>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
    </div>
    <div class="col md-6">
        <h3>Responsive Web Design</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>Desktop First RWD</h5>
        <h5>Mobile First RWD</h5>
        <h5>Bootstrap</h5>
        <h5>Foundation</h5>
    </div>
</div>

<div class="row">
    <div class="col md-6">
        <h3>JavaScript</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>Angular</h5>
        <h5>Knockout</h5>
        <h5>Backbone</h5>
    </div>
    <div class="col md-6">
        <h5>jQuery</h5>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        
        <h5>jQuery UI</h5>
        <h5>jQuery Mobile</h5>
        <h5>Plugin Development</h5>
    </div>
</div>

<div class="row">
    <div class="col md-6">
        <h3>Hybrid Mobile</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>Phone Gap</h5>
        <h5>Openstream</h5>
        <h5>Sencha Touch</h5>
        <h5>Kendo UI</h5>
    </div>

    <div class="col md-6">
        <h3>.Net</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>C#</h5>
        <h5>VB</h5>
        <h5>MVC</h5>
        <h5>WebForms</h5>
    </div>
</div>

<div class="row">
    <div class="col md-6">
        <h3>SQL</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>Microsoft SQL Server</h5>
        <h5>Entity Framework</h5>
    </div>
    <div class="col md-6">
        <h3>XAML</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>Silverlight</h5>
        <h5>Windows Phone</h5>
        <h5>Windows RT</h5>
        <h5>WPF</h5>
    </div>
</div>

<div class="row">
    <div class="col md-6">
        <h3>Version Control</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>Git</h5>
        <h5>Mercurial</h5>
        <h5>TFS</h5>
        <h5>SVN</h5>
        <h5>VSS</h5>
    </div>


    <div class="col md-6">
        <h3>APIs</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>YouTube</h5>
        <h5>Twitter</h5>
        <h5>Facebook</h5>
        <h5>Petfinder</h5>

    </div>
</div>

<div class="row">
    <div class="col md-6">
        <h3>CMS Solutions</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5>Kentico</h5>
        <h5>Umbraco</h5>
        <h5>Wordpress</h5>
        <h5></h5>
        <h5></h5>
    </div>


    <div class="col md-6">
        <h3>APIs</h3>
        <div class="proficiency">
        </div>
        <div class="interest">
        </div>
        <h5></h5>
        <h5></h5>
        <h5></h5>
        <h5></h5>

    </div>
</div>

