@{
    ViewBag.Title = "SkillSets";
}
<p>I'm no developing rockstar, ninja, or guru. I'm a well equipped web developer who takes great pride in my work ethic and quality of work. I'm by no means perfect. I'm always looking to improve and learn something new. I'm not married to any particular coding language, but I'm currently most fluent in C# and JavaScript.</p>

<p>I'm agile trained and have experience in agile and waterfall methodologies. I prefer agile in a small tight knit team.</p>

<p>I'm a front end and back end developer capable of performing all development tasks from the end of design to final implementation. This includes: PSD to HTML, Database Design, front end and back end optimization, and deployment.</p>

<p>I've been involved with a very wide variety of projects. Several unique ones include: rich Javascript applications to replace Flash implementations, Windows Phone 7 application for pushing secure internal news updates to employees, web pages inside a native iOS and Android application that communicated back and forth with the native wrapper (single page to talk to both), single page web application that utilizes Silverlight to make cross domain service calls on the client side to a location specific server to keep code in a centralized location and minimize request to the hosting server.</p>

<p>Project names and clients can't be shared due to NDAs.</p>

@*<h2>Microsoft Web Stack</h2>
<p>
    I'm experienced with .Net WebForms and .Net MVC Framework in both C# and VB.  
    I've been involved in enterprise level development since 2007.  I've been involved in large intranet projects 
    accessing a lot of data and other projects  
</p>
<h2>JavaScript & jQuery Development</h2>
<p>
    I've been developing using JavaScript and jQuery since late 2008.  I've really enjoyed developing my own libraries and plugins.  I aslo
    have a lot of experience optimizing code for the best experience on the client side. 
</p>

<h2>Responsive Web Design</h2>
<p>
    I have experience building both responsive and adaptive web sites.  
    I've used 3rd party frameworks and have also written my own responsive frameworks.
    I  started flexible layouts on mobile websites and full responsive came extremely easy to me.
</p>

<h2>JS Single Page Web Apps</h2>

<h2>Windows Phone/Windows Store</h2>*@


