@{
    ViewBag.Title = "SkillSets";
}
<p>
    I consider myself an extremely fortunate developer.  I have experience in both the front end and back end.  There are few tasks
    that I cannot complete without appropriate time.  I do not consider myself a master of any 
</p>

<h2>Microsoft Web Stack</h2>
<p>
    I'm experienced with .Net WebForms and .Net MVC Framework in both C# and VB.  
    I've been involved in enterprise level development since 2007.  I've been involved in large intranet projects 
    accessing a lot of data and other projects  
</p>
<h2>JavaScript & jQuery Development</h2>
<p>
    I've been developing using JavaScript and jQuery since late 2008.  I've really enjoyed developing my own libraries and plugins.  I aslo
    have a lot of experience optimizing code for the best experience on the client side. 
</p>

<h2>Responsive Web Design</h2>
<p>
    I have experience building both responsive and adaptive web sites.  
    I've used 3rd party frameworks and have also written my own responsive frameworks.
    I  started flexible layouts on mobile websites and full responsive came extremely easy to me.
</p>

<h2>JS Single Page Web Apps</h2>

<h2>Windows Phone/Windows Store</h2>


