@import "_variables";
* {
  box-sizing: border-box
}

body {
  font-size: $base-font-size;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

body,
h1,
h2 {
  padding: 0;
  margin: 0;
}

h2 {
  color: $primary;
}

a {
  color: $third;
  transition: color .5s;

  &:hover {
    color: lighten($third, 10);
  }
}

a {
  color: $third;
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  cursor: pointer;

  &::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid $third;
    width: 0;
    transition: width $d_base;
  }

  &:hover {
    color: lighten($third, 10);

    &::after {
      border-bottom-color: lighten($third, 10);
      width: 100%;
    }
  }
}

.button-link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 45%;
    background: $primary;
    padding: 10px;
    margin: 2%;

    a {
      color: $white-text;
      display: block;

      &:hover::after {
        border-bottom-color: $white-text;
      }
    }
  }
}