$dark:#202020;
$white-text:  rgba(255, 255, 255, 0.9);
$base-text-color: rgba(0, 0, 0, 0.5);


$primary: #002366;
$secondary: #16006A;
$third: #005E57;
$fourth: #996400;

$baseFontSize: 20px;


// Breakpoints
$mobileBP: 28rem;
$mediumBP:48rem;
$laregeBP:28rem;

/////////////////////////
$base-font-size: 20px;


$main-bg-color: #fff;;
$main-txt-color:$dark;


$base-gutter: 1rem;
$base-margin: 1rem;
$slim-margin: .5rem;

$d_base: .1s;



