<div id="resumePage">
	<h4>Work Experience</h4>
	<h5>Sr. Web Developer - Rockfish Interactive - April 2011</h5>
	<ul>
		<li>Primarily develop websites using C# in .Net MVC</li>
		<li>Research and implement new technologies in projects</li>
		<li>Develop Websites keeping scalability and reusability of code in mind</li>
		<li>Ensure quality coding standards in projects</li>
		<li>Collaborate with project/account managers to collect requirements and develop project estimates</li>
		<li>Responsibilities from Dev II and Dev I</li>
	</ul>
	<h5>Web Developer II - Rockfish Interactive - November 26, 2009 to April 2011</h5>
	<ul>
		<li>Primarily develop websites using C# in .Net MVC</li>
		<li>Design databases for projects</li>
		<li>Setup websites in IIS on load balanced servers</li>
		<li>Dev I</li>
	</ul>
	<h5>Web Developer I - Rockfish Interactive - November 26, 2007 to November 26, 2009</h5>
	<ul>
		<li>Primarily developed websites using VB in .Net Forms</li>
		<li>Work on tasks assign to by team lead</li>
		<li>Work on maintenance items for pre-existing websites</li>
		<li>Participate in site Q/A</li>
		<li>Learn additional technologies to expand expertise</li>
	</ul>
	@*<h4>Companies that have had project with Rockfish that I have worked on</h4>
	<ul class="multiCol twoCol">
		<li><a href="http://samsclub.com" target="_blank">Sam's Club</a></li>
		<li><a href="http://walmart.com" target="_blank">Walmart</a></li>
		<li><a href="http://tyson.com" target="_blank">Tyson Foods</a></li>
		<li><a href="http://arvest.com" target="_blank">Arvest Bank</a></li>
		<li><a href="http://propak.com" target="_blank">Propak</a></li>
		<li><a href="http://playnextlevel.com" target="_blank">Play Next Level</a></li>
		<li><a href="http://mywhitecloud.com" target="_blank">White Cloud</a></li>
		<li><a href="http://www.harrisonfrench.com/" target="_blank">Harrison French & Associates</a></li>
		<li><a href="http://csarecruiters.com/" target="_blank">CSA Recruiters</a></li>
		<li><a href="http://crystalbridges.org" target="_blank">Crystal Bridges</a></li>
		<li><a href="http://www.soderquist.org/" target="_blank">The Soderquist Center</a></li>
		<li><a href="http://doingbusinessinbentonville.com" target="_blank">Doing Business in Bentonville</a></li>
	</ul>*@
	<h4>I have experience in the following languages/platforms</h4>
	<ul class="multiCol twoCol">
		<li>VB</li>
		<li>C#</li>
		<li>.Net</li>
		<li>MVC (latest version)</li>
		<li>AJAX</li>
		<li>Javascript</li>
		<li>jQuery</li>
		<li>Microsoft SQL Server</li>
		<li>LINQ (SQL, Entity, XML)</li>
		<li>HTML (minor HTML5)</li>
		<li>CSS (CSS3)</li>
		<li>PSD to HTML</li>
		<li>Flash Professional</li>
		<li>Flash Builder (Formally Flex)</li>
		<li>AS3</li>
	</ul>
	<h4>Currently Learning/Studying</h4>
	<ul class="multiCol twoCol">
		<li>PHP</li>
		<li>Cake PHP</li>
		<li>MySQL</li>
		<li>Wordpress</li>
		<li>Silverlight</li>
	</ul>
	<h4>Business Apps I have experience with</h4>
	<ul class="multiCol threeCol">
		<li>VS 2008 & 2010</li>
		<li>Vim</li>
		<li>IIS 7.5</li>
		<li>VSS</li>
		<li>SVN</li>
		<li>Mercurial</li>
		<li>Photoshop</li>
		<li>Eclipse and Aptana</li>
		<li>SQL Server 2008</li>
		<li>Office 2010</li>
		<li>Redmine</li>
	</ul>
	<h4>APIs/Social plugins I am familiar with implementing</h4>
	<ul class="multiCol twoCol">
		<li><a href="http://www.couponzap.com/" target="_blank">Coupon Zap (SMS Updates)</a></li>
		<li><a href="http://code.google.com/apis/youtube/2.0/developers_guide_dotnet.html" target="_blank">YouTube</a></li>
		<li><a href="http://vimeo.com/api" target="_blank">Vimeo</a></li>
		<li>Facebook</li>
		<li>Twitter</li>
	</ul>
	<h4>Relevant Hobbies/Activities</h4>
	<ul class="multiCol realTwoCol">
		<li>Technology Blogging</li>
		<li>NWA Troop 107 Web Master</li>
		<li>NWA Dot Net User Group</li>
		<li>Writing jQuery Plugins</li>
	</ul>
	<h4>Education / Awards</h4>
	<ul>
		<li>
			Bachelor of Science in Business Administration - University of Arkansas 2007
			<ul>
				<li>Major - Small Business Management, Minor - Information Systems</li>
			</ul>
		</li>
		<li>Eagle Scout - BSA Troop 107 - 2001</li>
	</ul>
	@*<p>
		*Uploading videos through and account features
	</p>*@ @*<h4 class="collapse">My Work Ethic</h4>
    <p>
        I have a strong work ethic that I learned from my Father, earning Eagle in Boy Scouts,
        and highschool band. You must get the job done properly no matter how long it takes
        and how many times you band your head on your desk. Never build something you aren't
        proud of. Perfect practice makes perfect.
    </p>
    <h4 class="collapse">Previous Work Experience</h4>
    <ul>
        <li>
            <h5>Harps</h5>
            <ul>
                <li>Started in 2004 as a stocker and finished in late in 2007 as a manager trainee</li>
                <li>Positions Held: Stocker, Checker, Closing Manager, Frozen/Dairy Manager, Receiving
                    Manager and Store Manager Trainee.</li>
                <li>As a manager trainee I completed about 75% of the training required. Trainees were
                    frequently sent to setup new stores and delayed further training</li>
                <li>Left to pursue a career in Web Development.</li>
            </ul>
        </li>
        <li>
            <h5>B&E Paintball Supplies</h5>
            <ul>
                <li>Served as the Assistant Manager, Lead Gun Technician, and Head Referee (for tournament
                    series) from 2003 until 2007. </li>
                <li>Assistant Manager: I assisted customers find suitable equipment, fielded questions
                    for newer players, give advice for customers, place orders and take over Manager
                    duties when manager wasn't present.</li>
                <li>Lead Gun Technician: Perform repairs, general maintenance, repair estimates, and
                    diagnostics on Paintball Markers(guns).</li>
                <li>Head Referee: Approx 5 tournaments a year. Perform the duties of a head referee
                    which include: Explanation of game rules and regulations to players and inforce
                    them. Keep score and handle any disputes or arguments.</li>
            </ul>
        </li>
    </ul>
    <h4 class="collapse">Academic Achievements</h4>
    <ul>
        <li>
            <h5>College</h5>
            <ul>
                <li>Alpha Phi Omega Service Fraternity</li>
                <li>University of Arkansas Paintball Team - <em>Founding Member & Team Captain for Fall
                    05</em></li>
            </ul>
        </li>
        <li>
            <h5>Highschool</h5>
            <ul>
                <li>National Honor Society</li>
                <li>Technology Honor Society</li>
                <li>All-Region Band</li>
            </ul>
        </li>
        <li>National Honor Society</li>
        <li>Technology Honor Society</li>
        <li>Band All Region</li>
    </ul>
    <h4 class="collapse">Scouting Achievements</h4>
    <ul>
        <li>Earned "God and Me" with Bears in 1992/1993 from First United Methodist Church</li>
        <li>Eared Arrow of Light with Pack 425 and crossed over to Troop 107 in 1995</li>
        <li>Joined The Order of the Arrow in 1998</li>
        <li>Became member of "Brotherhood" in OA in 2000</li>
        <li>Eared Eagle Rank with Troop 107 in 2001</li>
        <li>Became Assistant Scoutmaster to Troop 107 March 2008</li>
        <li>Became a fully trained Scoutmaster in March 2009</li>
    </ul>*@
</div>
