@{
    ViewBag.Title = "Experience";
	
	Layout = "~/Views/Shared/InteriorMaster.cshtml";
}
@*<h2>My "Resume"</h2>*@ @*<p>
	I'm currently a level 2 web developer for <a href="http://www.rockfishinteractive.com">Rockfish Interactive</a> and a volunteer
	web master for <a href="http://www.nwatroop107.com">NWA BSA Troop 107</a>.
</p>
<p>
	I know "Rockstar", "Ninja" and "Guru" are big buzz words when it comes to developers. I don't see myself as one. I code
	because it's what I love to do. I prefer to develope MVC websites and build jQuery plugins. I've have a large interest in
	making the front end run faster by optimizing javascript, CSS and HTML and building mobile optimized websites.
</p>
<p>
	I'm always interested in learning something new. I'm partial to learning Microsoft technologies. I have recently started
	learning Silvelight, Silverlight for WP7, and a little PHP to experiment with Wordpress plugins. I spend most of my free
	time learning new technologies. My wife can vouche for that.
</p>*@

@Html.Partial("~/views/Experience/_resume.cshtml")

@section ExtraCSS {
	<link href="@Url.Content("~/content/print.css")" rel="stylesheet" media="print" />
	@*<link href="@Url.Content("~/content/print.css")" rel="stylesheet"	 />*@
}

@section ExtraScript {
	<script>
		$(function () {
			var hide = '- Hide';
			var show = '+ Show';
			$('<a/>', {
				'class': 'expander',
				text: show,
				click: function () {
					var hyp = $(this);
					hyp.parent('h4').next('ul, p').slideToggle('slow', function () {
						var l = $(this);
						if (l.is(':visible')) {
							hyp.text(hide);
						} else {
							hyp.text(show);
						}
					});
				}
			}
        ).hover(function () { $(this).css('cursor', 'pointer') }).appendTo('.collapse');
		});
		//$("<div/>", {
		//  "class": "test",
		//  text: "Click me!",
		//  click: function(){
		//    $(this).toggleClass("test");
		//}
		///}).appendTo("body");

	</script>
}
