@import "../../styles/_variables";
.resume {
  width: 90%;
  margin: $slim-margin auto;
  max-width: 1200px;
  h2 {
    margin: $base-margin 0;
    border-bottom: 2px solid $primary;
  }
  h3 {
    color: $third;
    margin: ($base-margin * 0.8) 0;
  }
  h4 {
    margin: ($base-margin * 0.2) 0;
  }
  p {
    margin: 0 0 ($base-margin * 0.8) 0;
  }
  header .main {
    text-align: center;
  }
  main {
    margin-top: $base-margin;
    display: flex;
    flex-direction: column;
  }
  article {
    h4,
    p {
      padding-left: ($base-margin * 0.8);
      padding-right: ($base-margin * 0.8);
    }
  }
  .my-info {
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      border-radius: 25%;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  .skill-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &::after {
        content: ", ";
      }
    }
  }
  @media (min-width: 48em) {
    main {
      flex-direction: row;
      aside {
        //max-width: 500px;
        flex: 0 0 25%;
        margin-right: $base-margin * 2;
      }
      article {
        flex-grow: 1;
      }
    }
    .skill-list {
      li {
        margin-bottom: $base-margin;
        display: block;
        &::after {
          content: "";
        }
      }
    }
  }
}

@media print {
  body {
    font-size: 10px;
    .head-spacer {
      height: 0px;
    }
    .main-nav {
      display: none;
    }
    .resume {
      main {
        flex-direction: row;
        aside {
          //max-width: 500px;
          flex: 0 0 20%;
          margin-right: $base-margin * 2;
        }
        article {
          flex-grow: 1;
        }
      }
      .skill-list {
        li {
          margin-bottom: $base-margin / 2;
          display: block;
          &::after {
            content: "";
          }
        }
      }
      .hp {
        display: none;
      }
    }
    > footer {
      display: none !important;
    }
  }
}
