$dark: #202020;
$white-text: rgba(255, 255, 255, 0.9);
$base-text-color: rgba(0, 0, 0, 0.5);

$primary: #002366;
$secondary: #16006a;
$third: #005e57;
$fourth: #996400;

$baseFontSize: 20px;

// Breakpoints
$mobileBP: 28rem;
$mediumBP: 48rem;
$laregeBP: 28rem;

/////////////////////////
$base-font-size: 20px;

$main-bg-color: #fff;
$main-txt-color: $dark;

$base-gutter: 1rem;
$base-margin: 1rem;
$slim-margin: 0.5rem;

$d_base: 0.1s;
ul {
  font-family: 'Fira Sans', sans-serif;
}
.resume {
  width: 90%;
  margin: $slim-margin auto;
  max-width: 1200px;
  h2 {
    margin: $base-margin 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid $primary;
  }
  h3 {
    color: $third;
    font-size: 1.35rem;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 ($base-margin * 0.8) 0;
  }
  h4 {
    font-size: 1.125rem;
    line-height: normal;
    font-weight: bold;
    margin: 0 0 ($base-margin * 0.6) 0;
  }
  p {
    font-size: 1rem;
    margin: 0 0 ($base-margin * 0.8) 0;
  }
  li {
  }
  header .main {
    text-align: center;
  }
  main {
    margin-top: $base-margin;
    display: flex;
    flex-direction: column;
  }
  article {
    h4,
    p {
      // padding-left: ($base-margin * 0.8);
      // padding-right: ($base-margin * 0.8);
    }
  }
  .my-info {
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto 1rem auto;
      border-radius: 25%;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  .skill-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &::after {
        content: ', ';
      }
    }
  }

  .job {
    // display: flex;
    margin-bottom: 1rem;
    .job-date {
      //  margin-right: $base-margin;
      //min-width: 125px;
    }
    .job-info {
      flex: 1;
      ul {
        padding-left: 1.125rem;
        margin-bottom: $base-margin;
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
    .mb {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 48em) {
    main {
      flex-direction: row;
      aside {
        //max-width: 500px;
        flex: 0 0 25%;
        margin-right: $base-margin * 2;
      }
      article {
        flex-grow: 1;
      }
    }
    .skill-list {
      li {
        margin-bottom: $base-margin;
        display: block;
        &::after {
          content: '';
        }
      }
    }
    .job {
      display: flex;
      .job-date {
        width: 150px;
        padding-right: 50px;
      }
    }
  }
}

@media print {
  body {
    font-size: 10px;
    h1 {
      font-size: 18px !important;
      line-height: 1.5;
    }
    h2 {
      font-size: 15px !important;
      line-height: 1.5;
    }
    h3 {
      font-size: 12px !important;
      line-height: 1.5;
    }
    h4 {
      font-size: 10px !important;
      line-height: 1.5;
    }
    p {
      font-size: 10px !important;
      line-height: 1.5;
    }
    .head-spacer {
      height: 0px;
    }
    .main-nav {
      display: none;
    }
    .resume {
      main {
        flex-direction: row;
        aside {
          //max-width: 500px;
          flex: 0 0 20%;
          margin-right: $base-margin * 2;
        }
        article {
          flex-grow: 1;
        }
      }
      .skill-list {
        li {
          margin-bottom: 5px;
          display: block;
          &::after {
            content: '';
          }
        }
      }
      // .hp {
      //   display: none;
      // }
      .job {
        display: flex;
        .job-date {
          width: 75px;
          padding-right: 25px;
        }
      }
    }
    > footer {
      display: none !important;
    }
  }
}
