@import '../styles/variables';
$duration: 1s;

.home-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 48em) {
    height: 400px;
  }

  @media (min-width: 96em) {
    height: 800px;
  }

  &::before {
    content: ' ';
    background: #000;
    display: block;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.info {
  position: relative;
  z-index: 10;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  h1 {
    transition: transform $duration;
    margin: 0;
  }

  h1 span {
    display: inline-block;
    transition: transform $duration;
    position: relative;
    top: 0;
  }

  h1,
  p,
  a {
    color: $white-text;
  }

  @media (min-width: 48em) {
    .info-head-shot {
      float: left;
      display: block;
      width: 30%;
      transition: all $duration;
      position: relative;
      top: 0;
    }

    section {
      float: right;
      width: 60%;
    }
  }
}

.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-1 {
  background-image: url('../../images/2.jpg');
}

.bg-2 {
  background-image: url('../../images/3.jpg');
}

.bg-3 {
  background-image: url('../../images/4.jpg');
}

.bg-4 {
  background-image: url('../../images/6.jpg');
}

.bg-5 {
  background-image: url('../../images/7.jpg');
}

.bg-6 {
  background-image: url('../../images/8.jpg');
}

.bg-7 {
  background-image: url('../../images/9.jpg');
}

.bg-8 {
  background-image: url('../../images/12.jpg');
}

.bg-9 {
  background-image: url('../../images/14.jpg');
}

.bg-10 {
  background-image: url('../../images/15.jpg');
}

.bg-11 {
  background-image: url('../../images/16.jpg');
}

@media (min-width: 48em) {
  .home-info.smaller {
    h1 span {
      transform: translateY(-500px);
      left: 0;
    }

    .info-head-shot {
      //top: -500px;
      transform: translateY(-500px);
      left: 0;
    }
  }
}

.card-link {
  display: inline-block;
  font-size: 32px;
  margin: 0 5px;
  text-decoration: none;

  &::after {
    display: none;
  }
}

.row {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &-banner {
    background: $primary;

    h2 {
      text-align: center;
      color: $white-text;
      font-size: 2em;
      padding: 20px;
    }
  }
}

.callout {
  padding: 10px;
  width: 100%;

  > .svg-inline--fa {
    color: $primary;
    font-size: 60px;
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  p {
  }
}

.callout-4 {
  padding: 5%;

  > .callout {
    @media (min-width: 24em) {
      width: 50%;
    }

    @media (min-width: 48em) {
      width: 24%;
    }
  }
}

.callout-3 {
  padding: 5%;

  > .callout {
    @media (min-width: 24em) {
      width: 50%;
    }

    @media (min-width: 48em) {
      width: 33%;
    }
  }
}

.banner-accent {
  background-color: $third;
  color: $white-text;

  h2,
  .callout > .svg-inline--fa {
    color: $white-text;
  }

  .row {
    &-banner {
      background: none;
    }
  }
}

.two-col-group {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 48em) {
    flex-direction: row;
  }

  > .col {
    @media (min-width: 48em) {
      padding: 5%;
      width: 50%;
    }

    h2 {
      text-align: left;
    }
  }
}

.no-bg p {
  color: $dark;
}
