.home-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 48em) {
        height: 400px;
    }
    @media (min-width: 96em) {
        height: 800px;
    }
}

.info {
    max-width: 960px;
    margin: 0 auto;
    h1 {
        transition: transform $duration;
        margin: 0;
    }
    h1 span {
        display: inline-block;
        transition: transform $duration;
        position: relative;
        top: 0;
    }
    .info-head-shot {
        float: left;
        display: block;
        width: 30%;
        transition: all $duration;
        position: relative;
        top: 0;
    }
    section {
        float: right;
        width: 60%;
    }
}

@media (min-width: 48em) {
    .home-info.smaller {
        h1 span {
            transform: translateY(-500px);
            left: 0;
        }
        .info-head-shot {
            //top: -500px;
            transform: translateY(-500px);
            left: 0;
        }
    }
}

.card-link {
    display: inline-block;
    font-size: 32px;
    margin: 0 5px;
    text-decoration: none;
    &::after{
        display:none;
    }
}

.row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-banner {
        background: $primary;
        h2 {
            text-align: center;
            color: $white-text;
            font-size: 2em;
            padding: 20px;
        }
    }
}

.callout {
    padding: 10px;
    width: 100%;
    >.svg-inline--fa {
        color: $primary;
        font-size: 60px;
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    p {}
}

.callout-4 {
    padding: 5%;
    >.callout {
        @media (min-width: 24em) {
            width:50%;
        }
        @media (min-width: 48em) {
            width: 24%;
        }
    }
}

.callout-3 {
    padding: 5%;
    >.callout {
        @media (min-width: 24em) {
            width:50%;
        }
        @media (min-width: 48em) {
            width: 33%;
        }
    }
}

.banner-accent {
    background-color: $third;
    color: $white-text;
    h2,
    .callout>.svg-inline--fa {
        color:$white-text;
    }
    .row {
        &-banner {
            background: none;
        }
    }
}