@{
    ViewBag.Title = "Online HTML Encoder";
    ViewBag.MetaKeywords = "HTML Encoder, Online HTML Encoder";
    ViewBag.MetaDescription = "WorthyD's Online HTML Encoder";

    Layout = "~/Views/Shared/InteriorMaster.cshtml";
}
<div class="form">
    <textarea id="toEncode"></textarea>
    <input type="button" value="Html Encode"  id="btnEncode"/>
    <input type="button" value="Html Decode"  id="btnDecode"/>
    <textarea id="txtEncoded"></textarea>
</div>

@section ExtraScript {
<script type="text/javascript">
    $(function () {
        $('#btnEncode').click(function () {
            $('#txtEncoded').val(htmlEncode($('#toEncode').val()));
        });
        $('#btnDecode').click(function () {
            $('#txtEncoded').val(htmlDecode($('#toEncode').val()));
        });

    });
    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }

</script>

}
