@{
Layout = "~/Views/Shared/InteriorMaster.cshtml";
}

<div id="">
    <h2> 
        <a href="@Url.Action("HtmlEncode")">Html Encoder/Decoder</a>
    </h2>
    <p>
    Simple javascript html encoder and decoder.
    </p>
</div>
<div id="">
    <h2> 
        <a href="@Url.Action("UrlEndcode")">Url Encoder/Decoder</a>

    </h2>
    <p>
    Simple javascript url encoder and decoder.
    </p>
</div>
<div id="">
    <h2> 

        <a href="@Url.Action("MobileDetect")">Mobile Detection</a>
    </h2>
    <p>
    Tool to test what your current user agent is and tests for touch features. 
    </p>
</div>
<div id="">
    <h2> 

        <a href="@Url.Action("ToSlug")">Sluggification</a>
    </h2>
    <p>
        Take a string and make it a slug for IDs or URLs.
    </p>
</div>
