@{

    ViewBag.MetaKeywords = "";
    ViewBag.MetaDescription = "Text to Slug Online Tool";
    Layout = "~/Views/Shared/InteriorMaster.cshtml";
}

<div class="form">
    <form action="#" method="post" id="frmSlug">
    <label for="toSlug">Original String:</label>
    <input type="text" id="toSlug" />
    <label>Separator:</label>
    <div class="radioList">
        <label for="hyphen">Hyphen</label>
        <input id="hyphen" type="radio" name="optSeperator" value="-" checked="checked" />
        <label for="underscore">Underscore</label>
        <input id="underscore" type="radio" name="optSeperator" value="_" />
    </div>
    <div class="checklist">
        <label for="chkToLower">To Lower Case:</label>
        <input type="checkbox" id="chkToLower" checked="checked"/>
    </div>
    <label for="toOther">Converted String:</label>
    <input type="text" id="toOther" />
    <input type="button" id="conver" value="getslug" />
    </form>
</div>


@section ExtraScript {
    <script>
        $(function () {
            var form = $(document.getElementById('frmSlug'));
            form.bind('submit', function () {
                var str = $('#toSlug').val();
                if ($('#chkToLower').is(':checked')) {
                    str = str.toLowerCase();
                }
                var seperator = $('.radioList input:checked').val();

                $('#toOther').val(str.replace(/ /g, seperator)).focus();

                return false;
            });

            $('#conver').click(function () {
                form.trigger('submit');
            });
            $('#toSlug').bind('keypress', function (e) {
                var ENTER_KEY_CODE = 13;
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == ENTER_KEY_CODE) {
                    form.trigger('submit');
                    return false;
                }
            });

        });
    </script>
}
