@{
    ViewBag.Title = "Online URL Encoder and Decoder";
    ViewBag.MetaKeywords = "URL Encoder,URL Decoder, Online URL Encoder, Online URL Decoder";
    ViewBag.MetaDescription = "WorthyD's Online URL Encoder and Decoder";

    Layout = "~/Views/Shared/InteriorMaster.cshtml";
}
<div class="form">
    <textarea id="toEncode"></textarea>
    <input type="button" value="URL Encode"  id="btnEncode"/>
    <input type="button" value="URL Decode"  id="btnDecode"/>
    <textarea id="txtEncoded"></textarea>
</div>

@section ExtraScript {
<script type="text/javascript">
    $(function () {
        $('#btnEncode').click(function () {
            //$('#txtEncoded').val(htmlEncode($('#toEncode').val()));
            $('#txtEncoded').val(escape($('#toEncode').val()));
        });
        $('#btnDecode').click(function () {
            //$('#txtEncoded').val(htmlEncode($('#toEncode').val()));
            $('#txtEncoded').val(unescape($('#toEncode').val()));
        });

    });
    /*
    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    */

</script>


