@media only screen and (max-width : 360px) {
    nav #btnMenu {
        padding-left:45px;
    }
    nav #ddlMenu {
        width:100%;
        padding:0px;
    }
    nav #ddlMenu li {
        display:block;
        float:none;
        width:100%;
    }
    nav #ddlMenu.show {
        height:360px;
    }
     #content .profilePic {
        background: url(https://graph.facebook.com/worthyd/picture?type=small) 0 0 no-repeat;
        background-size: 38px;
        display: inline-block;
        height: 38px;
        top: 0;
        left: 0;
        width: 38px;
    }

    .familyPic {
        float:none;
        display:block;
        margin:10px auto;
    }  
}
