@{
    ViewBag.Title = "Home Page";
}

    <div class="card card-block">
    <h1 class="card-title">Hey, I'm Daniel and I like to build stuff.</h1>
    <p class="card-text">I am a web application developer out of NorthWest Arkansas.  I enjoy programming, woodworking, gaming, and being a dad.  </p>
    <a href="#" class="card-link"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
    <a href="#" class="card-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    j
    <!--
    <ul>
        <li><i class="fa fa-facebook" aria-hidden="true"></i> </li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i> </li>
        <li><i class="fa fa-linkedin" aria-hidden="true"></i> </li>
         <li><i class="fa fa-instagram" aria-hidden="true"></i> </li>
        <li><i class="fa fa-youtube" aria-hidden="true"></i> </li>
        <li><i class="fa fa-github" aria-hidden="true"></i> </li>
        <li><i class="fa fa-steam" aria-hidden="true"></i> </li>

    </ul>
    -->
    
    </div>
<div class="row">
    <div class="col-md-12">
        <h2>I Enjoy Coding Stuff.</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Tech Stack</h2>
        <p>
            I have a pretty broad tech stack over my career.  I pretty much had to build a page around it.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Tech Blog</h2>
        <p>I've enjoyed blogging since 2003. I've be been tech and geek blogging for about 5.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Tutorial Videos</h2>
        <p>I've done a couple of YouTube series on several topics. Want to learn PSD to HTML or some JavaScript? Check out my channel.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Steam Achievement Tracker</h2>
        <p>I really enjoy earning achievements when gaming.  I couldn't find a good solution for tracking them so I wrote a Windows Universal App.  I'm currently working on a web version of the app.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>I Putting Stuff Together.</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>I Enjoy Gaming.</h2>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>