@{
    ViewBag.Title = "BasicBetterJS";
    Layout = "~/Views/Presentations/_Layout.cshtml";
}

<div class="reveal">

    <div class="slides">

        <section>
            <h2>
                Basic Better
                <br />
                Javascript and jQuery
            </h2>
            <h4>A highlevel guide for Front End and Back End Developers</h4>
            <div>
                <br />
            </div>

            <!--                <p>Brought to you by Daniel Worthy</p>-->
            <div>
                <br />
            </div>
            <!--                <div class="fragment">
                               Enhanced by Rick Astley and Friends
                               <div>
                                   <img src="Gifs/rickroll.gif" />
                               </div>
                           </div>
            -->
            <div class="">
                Presentation done with
                <a href="http://lab.hakim.se/reveal-js" target="_blank">Reveal.js</a>
            </div>
        </section>
        <section>
            <h2>Daniel Worthy</h2>
            <h3>
                Technology Architect @@
                <a href="http://rockfishinteractive.com/">Rockfish Interactive</a>
            </h3>
            <ul>
                <li>
                    <a href="https://twitter.com/worthyd" target="_blank">Twitter: @@WorthyD</a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/worthyd" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="http://worthyd.com/techblog/" target="_blank">Tech Blog </a>
                </li>
            </ul>

        </section>

        <section>
            <section>
                <h2>
                    Always use the latest
                    <br />
                    version of jQuery
                </h2>
                <div>
                    <br />
                </div>
                <h3>
                    Use a CDN version of
                    <br />
                    jQuery when possible
                </h3>
            </section>
            <section>
                <h2>Why use the latest version?</h2>
                <ul>
                    <li>
                        New features AND performance.
                    </li>
                    <li>PERFORMANCE IS A FEATURE!!!!</li>
                    <li>
                        Upgrading is typically painless.
                    </li>
                    <li>
                        Problems upgrading usually stem from using 3rd party plugins.
                    </li>
                    <li>Use jQuery Migrate to help out with upgrading</li>
                </ul>
                <div>
                    <br />
                </div>
                <h4>
                    <a href="http://jsperf.com/dh-jquery-1-4-vs-1-6/50" target="_blank">jQuery Selector Performance 1.4 vs 1.6 vs 1.10</a>
                </h4>
            </section>
            <section>
                <h2>
                    Where can you get
                    <br />
                    a CDN-ed version?
                </h2>
                <pre><code class="code-tall">
&lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="//code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
     // Fallback to loading jQuery from a local path if the CDN is unavailable
     (window.jQuery || document.write('&lt;script src="/scripts/jquery-1.9.0.min.js"&gt;&lt;\/script&gt;'));
&lt;/script&gt;
</code></pre>
            </section>
            <section>
                <h3>Benefits of using the CDN version:</h3>
                <ul>
                    <li>It's free</li>
                    <li>Reduces your sever's bandwidth</li>
                    <li>Better caching due to cross site use.</li>
                </ul>
                <!--<img src="Gifs/faster.gif" />-->
            </section>
            <section>
                <h2>When not to use?</h2>
                <ul>
                    <li class="fragment">Internal apps with Google not white listed.</li>
                    <li class="fragment">Offline applications</li>
                    <li class="fragment">You want to use a custom jQuery build.</li>
                    <li class="fragment">You have trust issues.</li>
                </ul>
                <!-- <div>
                    <br />
                </div>
                <img class="fragment" src="Gifs/sadface.gif" />-->
            </section>
        </section>


        <section>
            <section>
                <h2>User Raw JavaScript When You Can</h2>
                <h3>It performs a lot faster</h3>
            </section>
            <section>
                <h3>Getting Attributes</h3>
                <pre><code class="javascript">
$a.each(function(index){
     //45k operations per second
     $t = $(this).attr('id');
});
$a.each(function(index){
     //800k operations per second
     $t = this.id;
});
</code></pre>
                <!-- <div>
                    <a href="http://jsperf.com/el-attr-id-vs-el-id/2">http://jsperf.com/el-attr-id-vs-el-id/2</a>
                </div>-->
            </section>
            <section>
                <h3>Loops</h3>
                <pre><code class="javascript">
//67k ops/sec
$.each(a, function() {
  e = this;
});
//522k ops/sec
for (var i = 0, len = a.length; i < len; i++) {
  e = a[i];
};
</code></pre>

                <div class="">
                    <a href="http://jsperf.com/jquery-each-vs-for-loop/73">http://jsperf.com/jquery-each-vs-for-loop/73</a>
                </div>
                <p>
                    Some times you still need to use $.each for some of it's features.
                </p>
            </section>

        </section>
        <!--                                                            START CACHE SELECTORS                                                   -->
        <section>
            <section>
                <h2>Cache Your Selectors</h2>
                <!--<img src="Gifs/cache.gif" />-->
            </section>
            <section>
                <h4>Uncached Selectors</h4>
                <pre><code class="short-code javascript">
$('#btnSubmit').on('click', function(){
    if($('#txtName').val() == ''){
        $('#txtName').addClass('invalid');
        return false;
    }
     
    var data = {
        Name: $('#txtName').val()
    }
    $.post('/url', data, function(result){ /*logic*/ });
});
</code></pre>
                <div class="fragment">
                    <h4>Cached Selectors</h4>
                    <pre><code class="short-code javascript">
$('#btnSubmit').on('click', function(){
    var txtName = $('#txtName');
    if(txtName.val() == ''){
        txtName.addClass('invalid');
        return false;
    }
     
    var data = {
        Name: txtName.val()
    }
    $.post('/url', data, function(result){/*logic*/});
});
                        </code></pre>
                </div>
            </section>
            <section>
                <h2>Why is this important?</h2>
                <ul>
                    <li>The DOM is searched each time a selector is used</li>
                    <li>Easiest and quickest thing you can do to speed up your code.</li>
                    <li>Performing in a loop kills performance</li>
                </ul>
                <!--<img src="Gifs/more%20yay.gif" style="display: block; float: right;" />-->
            </section>
        </section>
        <!--                                                                                    EVENT BINDING                                           -->
        <section>
            <section>
                <h2>Event Handlers</h2>
                <h4>.bind(), .delegate(), .live(), .on(), .click() ....</h4>
                <!--<img src="Gifs/rockpaperscissors.gif" />-->
            </section>
            <section>
                <h2>What's Happening Behind the Scenes?</h2>
                <div>
                    <br />
                </div>
                <ul>
                    <li>.bind('click') == .on('click')</li>
                    <li>.delegate(elm, 'click') == .on('click', elm)</li>
                    <li>.click() == .on('click')</li>
                    <li class="fragment">.live('click') ==    .....</li>
                </ul>
                <!--  <div>
                    <br />
                </div>

                <div>
                    <img src="Gifs/analyze.gif" />
                </div>-->
            </section>
            <section>
                <h3>.live()</h3>
                <h4>Born: 1.3 Deprecated: 1.7 Removed: 1.9</h4>
                <pre><code class="javascript">//Using live
$('selector').live('click', callback);
//Behind the scenes
$('body').on('click', 'selector', callback);</code></pre>
                <div>
                    <p class="fragment">
                        .live() attaches a click event to the body element.
                    </p>
                    <p class="fragment">
                        An event is fired when ANY element is clicked inside the body tag.
                    </p>
                    <p class="fragment">
                        The event continues if the clicked event matches the selector.
                    </p>
                </div>
                <!-- <div class="rightCol">
                    <img src="Gifs/mindblown.gif" />
                </div>-->
            </section>
            <section>
                <h3>Dynamic Content Event Binding.</h3>
                <div class="">
                    <iframe width="100%" height="300" src="http://jsfiddle.net/WorthyD/28GCA/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
                </div>
                <!-- <div class="fragment">
                    <img src="Gifs/vqYuG.gif" />
                </div>-->
            </section>
            <section>
                <h3>Why use .on() instead of .click()?</h3>
                <pre><code class="javascript short-code">
//Detect if the the user has touch events
var userEvent = ('ontouchstart' in document.documentElement) 
                        ? 'touchstart' : 'hover';
$('nav').find('.navItem').on(userEvent, OpenSubNav);
                        </code></pre>
                <!-- <img src="Gifs/thumbs%20up.gif" class="fragment" />-->
            </section>
        </section>

        <!--<section>
            <h2>Falsey</h2>
        </section>-->

        <section>
            <section>
                <h2>More Maintainable Code Suggestions</h2>
            </section>
            <section>
                <h2>Avoid self executing files</h2>
                <h3>
                    Putting $(document).ready()
                    <br />
                    in an external file.
                </h3>
                <ul>
                    <li>Event binders get burried in source code.</li>
                    <li>Difficult for code maintainers to know where code is happening.</li>
                    <li>Executes event binders and functions not needed for every page.</li>
                </ul>
            </section>
            <section>
                <h2>Adapt a JavaScript Pattern</h2>
                <ul>
                    <li>Creates more reusable code</li>
                    <li>More scalable</li>
                    <li>Can be expensive</li>

                    <li>Additional Reading:<a href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/" target="_blank">Learning JavaScript Design Patterns by Addy Osmani</a></li>
                </ul>
                <!--                    <img src="Gifs/YqdNz.gif" class="fragment" />-->
            </section>
            <section>
                <h3>Example Basic Pattern</h3>
                <pre><code class="javascript short-code">//Pass in jQuery so I can use $ wherever I want without conflict
//Pass in document and alias it to d for shorter code.
var HomeIndex = (function ($, d) {
    
    //Private variables & functions
    var _init;
    _init = function () { };
    return {
        //Public Events
        Init: _init
    };
})(jQuery, document);</code></pre>
                <pre><code>&lt;script&gt;
    $(function () {
        HomeIndex.Init();
    });
&lt;/script&gt;
                        </code></pre>
            </section>
        </section>

        <section>
            <section>
                <h2>How To Improve Your Javascript</h2>
            </section>
            <section>
                <h2>One Shot Sites</h2>
                <ul>
                    <li>
                        <a href="http://www.thinkful.com/learn/javascript-best-practices-1" target="_blank">Javascript Best Practices Part 1</a>
                    </li>
                    <li>
                        <a href="http://www.thinkful.com/learn/javascript-best-practices-2/" target="_blank">Javascript Best Practices Part 2</a>
                    </li>
                    <li>
                        <a href="http://browserdiet.com/" target="_blank">Browser Diet</a>
                    </li>
                    <li>
                        <a href="http://uptodate.frontendrescue.org/" target="_blank">How To Keep Up To Date On Front-End Technologies</a>
                    </li>
                    <li>
                        <a href="https://developer.mozilla.org/en-US/docs" target="_blank">Mozilla Developer Network</a>
                    </li>
                    <li class="fragment">
                        <a href="http://w3schools.com/" target="_blank">W3Schools</a>
                        - Last Resort
                        <!--<br />
                        <img src="Gifs/shotgun.gif" style="margin-left: 75px;" />-->
                    </li>
                </ul>
            </section>
            <section>
                <h3>Read Blogs</h3>
                <ul>
                    <li>
                        <a href="http://addyosmani.com/blog/" target="_blank">Addi Osmani</a>
                        - Developer Programs Engineer at Google
                    </li>
                    <li>
                        <a href="http://www.elijahmanor.com/" target="_blank">Elijah Manor</a>
                        -
                        <a href="http://elijahmanor.github.io/talks/find-jquery-bugs/index.html">jQBugs</a>,
                        <a href="http://www.elijahmanor.com/2011/04/mix11-video-good-javascript-habits-for.html">JS for C#</a>, and
                        <a href="http://channel9.msdn.com/Events/Speakers/Elijah-Manor">More Vids</a>
                    </li>
                    <li>
                        <a href="http://net.tutsplus.com/" target="_blank">Net Tuts+</a>
                        - Large library of JS posts
                    </li>
                    <li>
                        <a href="http://www.echojs.com/" target="_blank">Echo JS</a>
                        - Will spam your RSS feed
                    </li>

                </ul>
                <div class="">
                    <br />
                </div>
                <h3>Subscribe to Newsletters</h3>
                <ul>
                    <li>
                        <a href="http://javascriptweekly.com/" target="_blank">Javascript Weekly</a>
                    </li>
                    <li>
                        <a href="http://html5weekly.com/" target="_blank">HTML5 Weekly</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Use JS Playgrounds</h2>
                <ul>
                    <li>
                        <a href="http://jsperf.com/">http://jsperf.com/</a>
                    </li>
                    <li>
                        <a href="http://jsfiddle.net/">http://jsfiddle.net/</a>
                    </li>
                    <li>
                        <a href="http://codepen.io/">http://codepen.io/</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>Look at Source Code</h3>
                <div>
                    <ul>
                        <li>
                            <a href="https://github.com/jquery/jquery" target="_blank">jQuery</a>
                        </li>
                        <li>
                            <a href="https://github.com/jashkenas/underscore" target="_blank">Underscore.js</a>
                        </li>
                        <li>
                            <a href="https://github.com/jashkenas/backbone/blob/master/backbone.js" target="_blank">Backbone.js</a>
                        </li>
                        <li>
                            <a href="https://github.com/angular/angular.js" target="_blank">Angular.js</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="rightCol">
                    <img src="Gifs/f5.gif" />
                </div>-->
            </section>
        </section>
        <section>
            <!--                <section>
                <h2>Questions?</h2>
                <img src="Gifs/weekend.gif" />
                <img src="Gifs/shake.gif" />
            </section>-->
            <section>
                <h2>Sources</h2>
                <ul>
                    <!--<li>Gifs: the Google Machine</li>-->
                    <li>http://www.elijahmanor.com/2012/02/differences-between-jquery-bind-vs-live.html</li>
                    <li>http://msdn.microsoft.com/en-us/magazine/ee730275.aspx</li>
                    <li>http://addyosmani.com/jqprovenperformance/</li>
                    <li>http://ejohn.org/blog/learning-from-twitter/</li>
                    <li>http://browserdiet.com/</li>
                    <li>http://www.thinkful.com/learn/javascript-best-practices-1</li>
                    <li>http://www.elijahmanor.com/2010/03/mix10-session-6-things-every-jquery.html</li>
                </ul>
            </section>

        </section>
        <!--<section>
            <section>
                <h1>Why are you skipping ahead?</h1>
                <img src="Gifs/joker.gif" />
            </section>
            <section>
                <h5>Unused Gifs</h5>
                <img src="Gifs/tumblr_inline_mk6xomQvzf1qz4rgp.gif" />
                <img src="Gifs/anakin.gif" /><img src="Gifs/tumblr_mb1ogz1ziV1rxpjef.gif" />

                <img src="Gifs/tumblr_inline_mmcpexRxNJ1qz4rgp.gif" /><img src="Gifs/yay.gif" />
            </section>
             <section>
                <img src="Gifs/Matt-Smith-gifs-the-eleventh-doctor-33227904-500-282.gif" /><img src="Gifs/tumblr_inline_mj3nwlaend1qz4rgp.gif" />
            </section>
            <section>
                <img src="Gifs/css.gif" />
            </section>
            <section>
                <img src="Gifs/Cybermen.gif" /><img src="Gifs/godzilla.gif" />
            </section>
            <section>
                <img src="Gifs/linethemup.gif" /><img src="Gifs/mine.gif" />
            </section>
            <section>
                <img src="Gifs/moresite.gif" />
                <img src="Gifs/si.gif" />
                <img src="Gifs/theon.gif" /><img src="Gifs/turkey.gif" />
            </section>
            <section>
                <h1>Seriously?</h1>
            </section>
            <section>
                <h1>What are you still doing here?</h1>
            </section>
            <section>
                <h2>Get back to work.</h2>
                <img src="Gifs/Monkey.png" />
            </section>
        </section>-->

    </div>

</div>