@{
    ViewBag.Title = "CutoutPresentation";
    Layout = "~/Views/Presentations/_Layout.cshtml";
}

<div class="reveal">

    <div class="slides">

        <section>
            <h1>PSD to HTML</h1>
            <h3><a href="http://graphicsumbrella.com/psd-corporate-business-website-template-free-download">PSD CORPORATE BUSINESS WEBSITE TEMPLATE FREE DOWNLOAD</a></h3>
        </section>

        <section>
            <section>
                <h1>Tools</h1>
            </section>
            <section>
                <h2>Editor</h2>
                <ul>
                    <li><a href="http://www.microsoft.com/visualstudio/eng/products/visual-studio-express-products">Visual Studio Express</a></li>
                    <li><a href="http://www.vim.org/">Vim</a></li>
                    <li><a href="http://notepad-plus-plus.org/">Notepad++</a></li>
                    <li><a href="http://www.aptana.com/">Aptana</a></li>
                    <li><a href="http://www.sublimetext.com/">Sublime Text</a></li>
                    <li><a href="http://www.adobe.com/products/dreamweaver.html">Dreamweaver</a></li>
                </ul>
            </section>
            <section>
                <h2>Image Tools</h2>
                <ul>
                    <li><a href="http://www.adobe.com/products/photoshopfamily.html">Photoshop</a></li>
                    <li><a href="https://www.adobe.com/cfusion/entitlement/index.cfm?e=cs2_downloads">Photoshop CS2</a></li>
                    <li><a href="http://www.makeuseof.com/tag/the-best-ways-to-open-a-psd-file-without-photoshop/">The Best Ways To Open a PSD File Without Photoshop</a></li>
                </ul>
            </section>
            <section>
                <h2>Browser</h2>
                <ul>
                    <li>Firefox - Firebug</li>
                    <li>Chrome - Webtools</li>
                    <li>IE - IE dev tools</li>
                    <li>All accessed by hitting F12</li>
                </ul>
            </section>
        </section>
        <section>
            <h2>Part 1 Content</h2>
        </section>
        <section>
            <h2>Part 2 Cutting Out Assets</h2>
        </section>
        <section>
            <h2>Part 3 CSS for Wrapper</h2>
        </section>
        <section>
            <h2>Part 4 Main Content</h2>
        </section>
        <section>
            <h2>Part 5 CSS for Rotator</h2>
        </section>
        <section>
            <h2>Part 6 Javascript for Rotator</h2>
        </section>
        <section>
            <h2>Part 7 Optimization</h2>
            <ul>
                <li><a href="http://vswebessentials.com/">Web Essentials</a></li>
                <li><a href="http://yui.github.io/yuicompressor/">YUI Compressor</a></li>
                <li><a href="https://github.com/zenorocha/browser-diet/wiki/Tools">Browser Diet Tools</a></li>
            </ul>
        </section>



    </div>

</div>
