@{
    ViewBag.Title = "WindowsPhone8";
    Layout = "~/Views/Presentations/_Layout.cshtml";
}

    <div class="reveal">

        <div class="slides">

            <section>
                <h1>Daniel Worthy</h1>
                <h2>Technology Architect</h2>
 <div class="">
                    Presentation done with
                    <a href="http://lab.hakim.se/reveal-js" target="_blank">Reveal.js</a>
                </div>
               
            </section>

            <section>
                <h3>Windows 8 Tech and New Features
                </h3>
                <ul>
                    <li>XAML, Direct 3D, or  Raw HTML</li>
                    <li>Better Emulator
                <ul>
                    <li>Runs on Hyper-V</li>
                    <li>Multiple Resolutions</li>
                </ul>
                    </li>
                    <li>Better Testing Tools
                <ul>
                    <li>Low bandwidth connections</li>
                    <li>Take screen shots</li>
                    <li>App monitoring and profiling</li>
                </ul>
                    </li>
                </ul>
            </section>
            <section>
                <h4>Phone 8 Controls & Win 8 Controls
                </h4>
                <p>Most controls are shared between platforms such as Stack Panel, User Control,Buttons & about 25 others.</p>

                <h5 style="margin-top: 40px;">Unique controls between platforms:</h5>
                <div class="leftCol">
                    <h6>Phone 8</h6>
                    <ul>
                        <li>Rich Text Box</li>
                        <li>Panorama</li>
                        <li>Pivot</li>
                    </ul>
                </div>
                <div class="rightCol">
                    <h6>Windows 8</h6>
                    <ul>
                        <li>Rich Text Block</li>
                        <li>Grid View</li>
                        <li>Flip View</li>
                    </ul>
                </div>
                <a href="http://msdn.microsoft.com/en-us/library/windowsphone/develop/jj735581(v=vs.105).aspx">Full List of XAML Controls</a>
            </section>
            <section>
                <h3>Shared Portable Class Libraries</h3>
                <ul>
                    <li>Allow you to use the same business logic in a Win 8 and Win Phone 8 project.</li>

                    <li>Great for MVVM Frameworks
                        <ul>
                            <li>MVVM Lite</li>
                        </ul>
                    </li>
                    <li>Keep presentation layer exclusively on your front end.
                    </li>
                </ul>
            </section>
            <section>
                <h3>Developer Resources</h3>
                <ul>
                    <li>Win Phone -<a href="http://developer.windowsphone.com"> developer.windowsphone.com</a></li>
                    <li>Channel 9 - <a href="http://channel9.msdn.com">channel9.msdn.com </a></li>
                    <li>Nokia Developer - <a href="http://developer.nokia.com">developer.nokia.com </a></li>
                    <li>DVLUP - <a href="http://www.dvlup.com">www.dvlup.com</a>
                        <ul>
                            <li>Challenges</li>
                            <li>Rewards</li>
                        </ul>
                    </li>
                    <li>Geek Champ - <a href="http://www.geekchamp.com">www.geekchamp.com</a> </li>

                </ul>
            </section>


        </div>

    </div>
