$duration: 1s;
$headingSize:4rem;
.main-nav {
    background-color: $primary;
    height: $headingSize;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.head-spacer {
    height: $headingSize;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    img {
        height: $headingSize;
        width: $headingSize;
        top: 0;
        position: relative;
        transition: all $duration;
    }
    #logo {
        color: $white-text;
        top: 0;
        position: relative;
        padding-left: $base-margin;
        transition: all $duration;
    }
}

.main-nav nav {
    margin-left: auto;
}

.main-nav nav a {
    //  margin-left: $base-gutter;
    color: $white-text;
    &::after {
        border-bottom-color: $white-text
    }
    &:hover {
        color: $white-text;
        &::after {
            border-bottom-color: $white-text
        }
    }
}

//ANimation
.animate-header {
    @media (min-width: $mediumBP) {
        .sub-menu, .sub-menu.show {
            height:auto;
        }
        .main-nav {
            overflow: hidden;
            img {
                top: 500px;
                position: relative;
            }
            #logo {
                top: 500px;
                position: relative;
            }
        }
        .main-nav.smaller {
            img {
                top: 0px;
            }
            #logo {
                top: 0px;
            }
        }
    }
}

.nav-button {
    background: transparent;
    border: 2px solid $white-text;
    border-radius: 4px;
    color: $white-text;
    display: block;
    font-size: 2rem;
    margin-left: auto;
}

.sub-menu {
    height: 0;
    left: 0px;
    position: absolute;
    width: 100%;
    transition: height 0.4s ease-in-out;
    -moz-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
    overflow: hidden;
    top: 4rem;
    z-index: 100;
    &.show {
        height: 200px;
    }
    a {
        display: block;
        background: $primary;
        padding: $base-gutter;
        margin-left: 0;
        border-bottom: 2px solid $white-text
    }
}

@media (min-width: $mediumBP) {
    .nav-button {
        display: none;
    }
    .sub-menu {
        position: static;
        height: auto;
        width: auto;
        a {
            display: inline-block;
            border: none;
            padding: 0;
            margin: $base-gutter;
        }
    }
    .sub-menu.show {
        height: auto;
    }
}