$duration: 1s;
$headingSize:4rem;
.main-nav {
    width: 100%;
    height: $headingSize;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $primary;
}

.head-spacer {
    height: $headingSize;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    img {
        height: $headingSize;
        width: $headingSize;
        transition: all $duration;
    }
    #logo {
        color: white;
        transition: all $duration;
    }
}

.main-nav nav {
    margin-left: auto;
}

.main-nav nav a {
    margin-left: $base-gutter;
    color: $white-text;
    &::after {
        border-bottom-color: $white-text
    }
    &:hover {
        color: $white-text;
        &::after {
            border-bottom-color: $white-text
        }
    }
}

//ANimation
@media (min-width: $mediumBP) {
    .main-nav {
        img {
            top: 500px;
            position: relative;
        }
        #logo {
            top: 500px;
            position: relative;
        }
    }
    .main-nav.smaller {
        img {
            top: 0px;
        }
        #logo {
            top: 0px;
        }
    }
}